/.htaccess
/pkg.info
/*.php
/*.htm
/*.html
/*.txt
/favicon.ico
/pkg.rev
/COPYING
/README

out/roxid/build

/kategorie-admin
/kategorie-master
/lager-manager
/multifilter

/admin
/application/commands
/application/components
/application/controllers
/application/models
/application/translations
/application/views/admin
/application/views/azure
/application/views/azure_mod
/application/views/flow
/application/views/mf_azure_sidebar
/application/views/mobile
/bin
/build/tmp
/build/upload_config
/build/upload_dev.sh
/build/productive
/build/encoder/encrypted*
/build/encoder/license.txt
/build/encoder/Lizenzen
/build/encoder/Lizenzen.zip
/build/package
/build/package_unenc
/build/ROXID
/build/ROXID*
/build/*.zip
/build/*.sql
/core/*
!/core/utils
/core/utils/*
!/core/utils/roxid_getimg.php
/cms
/cmsold
/documentation
/export
/log
/improve_images
/modules/*
!/modules/roxid
!/modules/roxid/*
!/modules/roxid/*/*
!/modules/roxid/*/*/*
/modules/roxid/.DS_Store
/modules/roxid/asset_compiler/.htaccess
/modules/roxid/asset_compiler/.htaccess2
/modules/roxid/asset_compiler/.htpasswd
/modules/roxid/asset_compiler/assets/build
/node_modules
/out/.htaccess
/out/admin
/out/azure
/out/azure_mod
/out/mf_azure_sidebar
/out/downloads
/out/flow
/out/media
/out/mobile
/out/pictures
/out/roxid/bower_components
/out/roxid/build
/out/roxid_mod/build
/out/roxid_mod/src/css/theme_own.css
/out/roxid_mod/src/css/theme_own.min.css
/out/roxid_mod/src/css/bootstrap/bootstrap_own.css
/out/roxid_mod/src/css/bootstrap/bootstrap_own.min.css
/oxid
/setup
/tmp
